<div class="grid-y align-center-middle navigation show-for-small-only" style="height: 4rem;" id="swup-header">
  <div class="shrink cell text-center" style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="text-uppercase sans-bold h3 text-center">{{siteName}}</a>
  </div>
</div>

<!-- Header -->
<div class="grid-x grid-padding-x grid-padding-y show-for-medium align-justify" id="swup-header">
  <div class="shrink cell">
    {% if env == 'dev' %}
    <a href="/" class="h5">{{ siteName }}</a>
    {% endif %}
  </div>

  <div class="shrink cell">
    {% nav category in craft.categories.group('typeOfFilm') %}
    <a href="{{ category.url }}" class="h5">{{ category.title }}</a>,
    {% endnav %}
    <a href="/about" class="h5">About</a>,
    <a href="/contact" class="h5">Contact</a>
  </div>
</div>
<!-- End  Header -->
