<div class="grid-x align-center header">
  <div class="shrink cell">
    
    <div class="grid-x align-center show-for-small-only">
    <div class="shrink navigation__small cell">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggle="navigation--mobile toggle" data-toggler=".is-active" type="button">
    <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    </div>
    </div>
  
    <a href="/" class="uppercase">{{site.title}}</a>
    
    
  </div>
</div>