@font-face {
  font-family: 'GT America Light';
  src: 
  url('../fonts/gt-america-light.woff2') format('woff2'), 
  url('../fonts/gt-america-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss Medium';
  src: 
  url('../fonts/swiss721-medium.woff2') format('woff2'), 
  url('../fonts/swiss721-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss Bold Condensed';
  src: 
  url('../fonts/swiss721-boldcondensed.woff2') format('woff2'), 
  url('../fonts/swiss721-boldcondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss Bold Condensed Outline';
  src: 
  url('../fonts/swiss721-boldcondensedoutline.woff2') format('woff2'), 
  url('../fonts/swiss721-boldcondensedoutline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}