//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Home

// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}


// 2. Global
// ---------

body {  
  cursor: default;
}

svg {
  max-width: 100%;
}

::selection {
  background: $anchor-color-hover;
  color: $black;
}

img {
//   display: block;
//   max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

[data-aos] {
overflow: hidden;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

.menu .menu-text {
  font-weight: $global-weight-normal;
}

// 5. Loading
// ------

.loader {
  color: $white;
  font-family: $tertiary-font-family;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1;
  z-index: 15;
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 1;
  transition: $primary-transition;
  visibility: visible;
  
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}


// X. Pages
// ------

.page {
  @include xy-gutters($grid-margin-gutters, padding, (top), false);
}

.home {
  @include xy-gutters(2rem, padding, (top), false);
}


// X. Header
// ------

.header {
  font-family: $secondary-font-family;
  font-size: 1.75rem;
  letter-spacing: 3px;
  @include xy-gutters(2rem, padding, (top), false);
  @include breakpoint(medium) {
    @include xy-gutters($grid-margin-gutters, padding, (top), false);
  }
  @include links ($black, $anchor-color)
}

// X. Navigation
// ------

nav {
  @include xy-gutters(0.75rem, padding, (top), false);
}

.navigation--mobile {
  z-index: 20;
  position: fixed;
  background: $color--white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
  transition: $primary-transition;
  visibility: hidden;
  font-family: $header-font-family;
  font-size: 1.5rem;

  &.open {
    opacity: 1;
    visibility: visible;
  }
  
  .menu .active>a {
    color: black;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $color--white;
  } 
}

.navigation__small {
  z-index: 20;
}

// 7. Projects
// ----------
    
.projects img:hover {
  filter: saturate(0%) brightness(100%); 
}
    
.projects img {
  transition: $primary-transition;
  padding-bottom: 1rem;
}

.projects {
  @include xy-gutters($grid-margin-gutters, padding, (bottom, left, right), false);
}

// X. Footer
// ---------


// X. Footer
// ---------

.project h2 {
  color: $anchor-color;
}

.project-runway h2 {
  color: $anchor-color-hover;
}


// X. Info
// ---------

.info {
  padding-top: 2rem;
  @include links ( $black, $anchor-color )
  @include breakpoint(medium) {
    padding-top: 0rem;
  }
}

.info h2 {
  color: $anchor-color;
}

.info__colophon {
  padding-top: 2rem;
}

// X. Clients
// ---------

.clients {
  padding-top: 2rem;
  @include breakpoint(medium) {
    padding-top: 0rem;
  }
}

.clients h2 {
  color: $anchor-color;
}

// X. Runway
// ---------

.runway h2 {
  margin-bottom: 0rem;
}

.runway h3 {
  color: $anchor-color-hover;
}

footer {
  color: $anchor-color;
}

.orbit-slide {
  overflow: hidden;
}


.orbit-slide img {
  max-width: none;
  transition: $primary-transition;
  height: 400px;
  @include breakpoint(medium) {
  height: 400px
  }
  @include breakpoint(large) {
  height: 450px
  }
  @include breakpoint(xxlarge) {
  height: 550px
  }
}
