@font-face {
  font-family: 'P22 Mackinac Book';
  src: 
  url('../fonts/p22-mackinac-book.woff2') format('woff2'), 
  url('../fonts/p22-mackinac-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Condensed Bold';
  src: 
  url('../fonts/gt-america-condensed-bold.woff2') format('woff2'), 
  url('../fonts/gt-america-condensed-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}