---
layout: default
---

<!-- Projects -->
<div class="grid-container">
  <div class="grid-x small-up-1 medium-up-2 large-up-3 xxlarge-up-3">
    {% assign projects = site.editorial | sort: 'position'%}
    {% for project in projects %}
      <div class="cell projects" data-aos="fade-in">
      
<a href="{{ project.url }}" class="text-center item">

{% if project.preview-video %}
<div class="responsive-embed widescreen">
  <video autoplay muted loop>
    <source src="{{ project.preview-video }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>  
</div>
{% else %}
<img data-interchange=
"
[{{ project.image | imgix_url: w: 640, h: 396, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, small]
[{{ project.image | imgix_url: w: 640, h: 396, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, medium]
[{{ project.image | imgix_url: w: 1024, h: 633, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, large]
"
>
{% endif %}
  
<h2>{{ project.publication }}</h2>
</a>


      </div>
    {% endfor %}
  </div>
</div>
<!-- End Projects -->