---
layout: default
---

  
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="small-12 medium-8 large-7 xxlarge-6 cell">
    <!-- Orbit -->
    <div class="orbit" role="region" aria-label="Featured Images" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
      <div class="orbit-wrapper">
        
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-chevron-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-chevron-left"></use></svg></button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-chevron-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-chevron-right"></use></svg></button>
        </div>
        
        <ul class="orbit-container">              
          {% assign projects = site.documents | sort: 'position' | where: "is-featured", "true" %}
          {% for project in projects %}
            <li class="is-active orbit-slide">
                <img src="{{project.image}}">
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>     
    <!-- End Orbit -->
	</div>
</div>