---
layout: default
---

<div class="grid-x align-center">
	<div class="small-12 medium-12 large-12 xxlarge-12 cell">
    <!-- Orbit -->
    <div class="orbit" role="region" aria-label="Featured Images" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
      <div class="orbit-wrapper">
        
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-arrow_back"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_back"></use></svg></button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></button>
        </div>
        
        <ul class="orbit-container">              
          {% assign projects = page.images | sort: 'position' %}
          {% for project in projects %}
            <li class="orbit-slide">

                  <div class="grid-x text-center">
                    <div class="small-12 medium-12 large-12 xxlarge-12 cell">
                    <img src="{{project.image}}">
                    </div>
                  </div>

            </li>
          {% endfor %}
        </ul>

      </div>
    </div>     
    <!-- End Orbit -->
	</div>
</div>