---
layout: default
---

<!-- Wrapper -->
<div class="grid-container">
<div class="grid-x grid-padding-x align-center">
<div class="cell">


<!-- Videos -->
{% for video in page.videos %}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 large-10 cell">
  	<div class="responsive-embed widescreen">
      <iframe src="https://player.vimeo.com/video/{{ video }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Videos -->

<!-- Images -->
<div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3 xxlarge-up-4 lightgallery">
{% for image in page.images %}
  <div class="cell projects" data-aos="fade-in" data-src="{{ image | imgix_url: w: 1400, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 2}}">
  
  <a href="{{image}}">
      
  <img data-interchange=
  "
  [{{ image | imgix_url: w: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, small]
  [{{ image | imgix_url: w: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 2}}, small]
  [{{ image | imgix_url: w: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, medium]
  [{{ image | imgix_url: w: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 2}}, medium]
  [{{ image | imgix_url: w: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, large]
  [{{ image | imgix_url: w: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 2}}, large]
  "
  >
      
  </a>
  
  </div>
{% endfor %}
</div>
<!-- End Images -->

<!-- Title -->
<div class="grid-x grid-padding-y align-center">
  <div class="shrink cell">
    <h2>{{ page.title }}</h2>
  </div>
</div>
<!-- End Title -->

<!-- Meta -->
<div class="grid-x align-center">
  <div class="small-8 medium-7 large-7 cell text-center">
    {% if page.publication %}
    <div>Publication &mdash; {{ page.publication }}</div>
    {% endif %}
    
    {% if page.photographer %}
    <div>Photographer &mdash; {{ page.photographer }}</div>
    {% endif %}
    
    {% if page.director %}
    <div>Director &mdash; {{ page.director }}</div>
    {% endif %}
  </div>
</div>
<!-- End Meta -->


<!-- Content -->
<div class="grid-x align-center">
  <div class="small-8 medium-7 large-7 cell text-center">
    {{ content }}
  </div>
</div>
<!-- End Content -->

<!-- Pagination -->
<div class="grid-x grid-padding-y align-center">
  <div class="small-8 medium-7 large-7 cell text-center">
    {% include pagination.html %}
  </div>
</div>
<!-- End Pagination -->

</div>
</div>
</div>
<!-- End Wrapper -->